  "custom/wallpaper": {
    "format": "{}",
    "return-type": "json",
    "exec": "/home/lonnet/.config/waybar/modules/wallpaper-switcher.sh status",
    "signal": 9,
    "restart-interval": 5,
    "tooltip": true,
    "on-click": "/home/lonnet/.config/waybar/modules/wallpaper-switcher.sh menu"
  },
